
textarea
{
float:right;
margin-right:15px;
}


#editc{

float: right;
margin-top: 60px;
margin-right:1px;
text-decoration: none;
font-size: 16px;


}
#editb{
float: right;
margin-right:1px;
text-decoration: none;
font-size: 16px;
margin-top: 28px;

}
#editf{

float: right;
margin-right:1px;
text-decoration: none;
font-size: 16px;
margin-top: 30px;



}
#edite{

float: right;
margin-right:1px;
text-decoration: none;
font-size: 16px;
margin-top: 80px;
position: relative;


}
#eu{

	font-size: 16px;
	float: left;
	margin-left: 5px;
}
#su{

float: left;
margin-left: 4px;
margin-top: 10px;
font-size: 16px;
font-weight: bold;
}
#lb,#lbc{
float: left;
text-align: left;
margin-left: 4px;
font-size: 16px;
font-weight: bold;
}
#lbc{margin-left: 40px;}
#rb,#rbc{
font-size: 16px;
float: right;
}
#rbc{
	float:left;
	margin-left:10px;
	margin-top: -5px;
	font-size: 14px;
}
#addContact,#addEducation{
float: left;
margin-left: 5px;
margin-top:50px;	
border-radius:4px;
border:none;
cursor:pointer;		
height: 30px;
background-color:#498af2;
color:white;
	
}
.leftarrowdiv1{
width:auto;
min-height:inherit;/* min height of DIV should be set to at least 2x the width of the arrow*/
background:white;
border-color:white;
padding:10px;
position:relative;
-moz-border-radius:5px; /*add some nice CSS3 round corners*/
-webkit-border-radius:5px;
border-radius:5px;
border-style:solid;
margin-top:-0.2em;
margin-right: 0px;
overflow: none;
}

.leftarrowdiv1:after{ /*arrow added to leftarrowdiv DIV*/
content:'';
display:block;
position:absolute;
top:50px;
left:-50px; /*should be set to -border-width x 2 */
width:0;
height:0;
border-color: transparent white transparent transparent; /*border color should be same as div div background color*/
border-style: solid;
border-width:25px;
}
.leftarrowdiv{
width:auto;
height:700px;/* min height of DIV should be set to at least 2x the width of the arrow*/
background:white;
border-color:white;
padding:10px;
-moz-border-radius:5px; /*add some nice CSS3 round corners*/
-webkit-border-radius:5px;
border-radius:5px;
border-style:solid;
margin-top:-0.2em;
margin-right: 0px;
overflow: none;
}

.leftarrowdiv:after{ /*arrow added to leftarrowdiv DIV*/
content:'';
display:block;
position:absolute;
top:50px;
left:-50px; /*should be set to -border-width x 2 */
width:0;
height:0;
border-color: transparent white transparent transparent; /*border color should be same as div div background color*/
border-style: solid;
border-width:25px;
}

#eInfo,#bInfo,#subInfo,#submitCon{
float: right;
margin-right: 5px;
font-size: 14px;
height: 25px;
background-color:#498af2;
color:white;
border:none;
cursor: pointer;
border-radius: 2px;



}
#home,#profile,#friend,#pics,#edit
{
height:50px;
width:50px;
margin-top:2em;
}


#me
{
margin-top:0.5em;
margin-left:12%;
height:100px;
width:600px;
padding-top: 17px;
padding-right: 20px;
padding-bottom: 15px;
display:block;
border-top-color:#8cc474;
border-radius:3px;
text-align: center;
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:20px;


}
.m
{

-webkit-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 2px #c4c4c4;
box-shadow: 0 1px 2px #c4c4c4;
background-color: #fff;
border-top: 7px solid #fff;
margin-bottom: 30px;
width: 415px;
position:relative;

}

#spp{
	text-align: left;
margin-left: 5px;
}
#sspp{
margin-left: 40%;

padding-left: 5px;
padding: 5px;
font-size: 14px;
font-style: italic;
}
#t{
font-size: 16px;
padding-left:2px;
margin-left: 2px; 
}

#myfav
{
margin-top: 75%;
margin-left:26%;
height:auto;
width:300px;
padding-top: 17px;
padding-right: 20px;
padding-bottom: 15px;
display:block;
border-top-color:#8cc474;
border-radius:3px;
text-align: center;
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:20px;
}

.m{
-webkit-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 2px #c4c4c4;
box-shadow: 0 1px 2px #c4c4c4;
background-color: #fff;
border-top: 7px solid #fff;
margin-bottom: 30px;
width: 415px;
position:relative;
}

#dob{
	height: 15px;
	width: 150px;
}

#education
{
margin-top:1.5em;
margin-left:2%;
height:auto;
width:300px;
padding-top: 17px;
padding-right: 20px;
padding-bottom: 15px;
display:block;
border-top-color:rgb(118, 167, 250);
border-radius:3px;
text-align: center;
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:20px;
float:left;
position:relative;

}
.e
{

-webkit-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 2px #c4c4c4;
box-shadow: 0 1px 2px #c4c4c4;
background-color: #fff;
border-top: 7px solid #fff;
margin-bottom: 30px;
width: 415px;
position:relative;

}
#work
{
margin-top:30px;
float:right;
height:auto;
min-height:150px;
width:300px;
padding-top: 17px;
padding-right: 40px;
padding-bottom: 15px;
border-top-color:rgb(228, 111, 97);
border-radius:3px;
text-align: center;
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:20px;



}
.w
{

-webkit-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 2px #c4c4c4;
box-shadow: 0 1px 2px #c4c4c4;
background-color: #fff;
border-top: 7px solid #fff;
margin-bottom: 30px;
width: 415px;

}

#basicInfo
{
float:right;
margin-right:2px;
height:auto ;
width:300px;
padding-top: 17px;
padding-bottom: 15px;
border-top-color:#bc5679;
border-radius:3px;
text-align: center;
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:20px;
position: relative;
margin-top: 28px;
	padding-right: 40px;



}

.b
{

-webkit-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 2px #c4c4c4;
box-shadow: 0 1px 2px #c4c4c4;
background-color: #fff;
border-top: 7px solid #fff;
margin-bottom: 30px;
width: 415px;


}

#contactInfo
{
margin-top:1em;
height:auto;
width:280px;
padding-top: 17px;
padding-right: 40px;
padding-bottom: 15px;
display:block;
border-top-color:#fbcb43;
border-radius:3px;
text-align: center;
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:20px;
float:left;
margin-left:2%;


}
.c
{

-webkit-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: 0 1px 2px #c4c4c4;
box-shadow: 0 1px 2px #c4c4c4;
background-color: #fff;
border-top: 7px solid #fff;
margin-bottom: 30px;
width: 415px;

}
#subCon
{
border-radius:10px;
background-color:rgb(118, 167, 250);
margin-right:20px;
height:30px;
float:right;
color:#fff;


}

#edit_contact,#new_contact
{
min-height:500px;
height:auto;
width:400px;
background-color:#FFF;
margin:0px auto;
display:none;
border-radius:20px;
-webkit-border-radius: 20px;
}
#editchead {
	
	width:auto;
	padding:10px;
	height:30px;
	background-color:#fbcb43;
	font-size:1.4em;
	border-radius-top:20px;

}
#edit_i
{
min-height:350px;
height:auto;
width:400px;
background-color:#FFF;
margin:0px auto;
display:none;
border-radius:20px;
-webkit-border-radius: 20px;
}

#editihead
{	width:auto;
	padding:10px;
	height:30px;
	background-color:#bc5679;
	font-size:1.4em;
	border-radius-top:20px;

}
#edit_b
{

min-height:380px;
height:auto;
width:400px;
background-color:#FFF;
margin:0px auto;
display:none;
border-radius:20px;
-webkit-border-radius: 20px;
}
#editbhead
{	width:auto;
	padding:10px;
	height:30px;
	background-color:#bc5679;
	font-size:1.4em;
	border-radius-top:20px;
}
	
#edit_w
{
min-height:380px;
height:auto;
width:400px;
background-color:#FFF;
margin:0px auto;
display:none;
border-radius:20px;
-webkit-border-radius: 20px;

}
#editwhead
{
    width:auto;
	padding:10px;
	height:30px;
	background-color:rgb(228, 111, 97);
	font-size:1.4em;
	border-radius-top:20px;

}
#innerw{
font-size: 18px;
margin-top: 4px;
margin-left: 10px;
}
#innerb{
font-size: 18px;
margin-top: 10px;
margin-left: 10px;
padding-left: 2px;

}
#innerb input{
height: 25px;
width: auto;
padding-left: 2px;
margin-left: 3px;
float: right;
margin-right:22px;
}
#innerb select{
	float: right;
margin-right:50px;
padding-top: 0px;

}
#edit_e,#new_education
{
height:auto;
width:400px;
background-color:#FFF;
margin:0px auto;
display:none;
border-radius:20px;
-webkit-border-radius: 20px;

}
#innere{
margin-left: 10px;
font-size: 18px;
margin-top: 2px;
}

#innerc{
margin-left: 50px;
font-size: 18px;
margin-top: 2px;

}

#editehead
{
width:auto;
	padding:10px;
	height:30px;
	background-color:rgb(118, 167, 250);
	font-size:1.4em;
	border-radius-top:20px;
}
#close,#close1,#close2,#close3,#close4,#close5,#close6
{
float:right ;
font-weight: bold;
font-family: sans-serif;
cursor: pointer;
margin-top:0.5px;
font-size:16px;

}
#div_left{
	top:0;
	float:left;
	position: relative;
width:335px;
}

