@font-face {
    font-family: del;
    src: url("http://localhost/probuzz/trunk/data/font/Delicious-Italic.otf");
}


.flip {
    backface-visibility:             hidden;
        -moz-backface-visibility:    hidden;
        -ms-backface-visibility:     hidden;
        -o-backface-visibility:      hidden;
        -webkit-backface-visibility: hidden;
   
    position: absolute;
    transform-origin:             50% 50% 0px;
        -moz-transform-origin:    50% 50% 0px;
        -ms-transform-origin:     50% 50% 0px;
        -o-transform-origin:      50% 50% 0px;
        -webkit-transform-origin: 50% 50% 0px;
    transition: all 3s;
        -moz-transition:    all 1s;
        -ms-transition:     all 1s;
        -o-transition:      all 1s;
        -webkit-transition: all 1s;
		height:300px;
width:400px;
border-style: ridge;
background-image:url(../data/rcs/grey_gradient.jpg);
-webkit-border-radius:1em;
border-radius:1em;
height:auto;   
margin-top: 20px;  

}
#captcha{
display: none;
margin-left: 30px;

}

#side-1 {
    transform:             rotateY( 0deg );
        -moz-transform:    rotateY( 0deg );
        -ms-transform:     rotateY( 0deg );
        -o-transform:      rotateY( 0deg );
        -webkit-transform: rotateY( 0deg );
		
	
}

#side-2 {
    transform:             rotateY( 180deg );
        -moz-transform:    rotateY( 180deg );
        -ms-transform:     rotateY( 180deg );
        -o-transform:      rotateY( 180deg );
        -webkit-transform: rotateY( 180deg );
		
		
}

.flip-side-1 {    
    transform:             rotateY( 0deg ) !important;
        -moz-transform:    rotateY( 0deg ) !important;
        -ms-transform:     rotateY( 0deg ) !important;
        -o-transform:      rotateY( 0deg ) !important;
        -webkit-transform: rotateY( 0deg ) !important;
}

.flip-side-2 {
    transform:             rotateY( 180deg ) !important;
        -moz-transform:    rotateY( 180deg ) !important;
        -ms-transform:     rotateY( 180deg ) !important;
        -o-transform:      rotateY( 180deg ) !important;
        -webkit-transform: rotateY( 180deg ) !important;
}

input {
    display: block;
    margin: 3px 0;
    width: 294px;    
}
#wrapper h2{
text-align:center;
color:#0079c0;
}

#user_name,#password,#email,#confirm_pass,#first_name,#last_name,#password1,#user_name1
{

padding-right:40px;

margin-left:40px;
-webkit-border-radius:0.5em;
border-radius:0.5em;
height:25px;
width:20em;
text-align:center;
}
.i
{
	float:right;
	margin-top:-35px;
	margin-right :23px;

}
#login,#create
{
float:right;
margin-right: 30px;
cursor:pointer;
border-radius:4px;
border:none;
cursor:pointer;     
height: 30px;
width: auto;
background-color:#498af2;
color:white;
font-weight: bold;
font-size: 16;
font-family: cursive;
}

a:link{
margin-left:5px;
color:#2d9be8;
}
p a:link
{
color:#0079c0;
margin-left:20px;
}

p{margin-left:10px;}

body
{margin:0 0 0 0;
background-image:url(../data/rcs/pbackground_01.png);
background-repeat:no-repeat;
background-size:100%;
font-family: del;

}
#wrapper
{
	margin-left:590px;
	margin-top:100px;
}
span
{
visibility: hidden;
border-color: transparent;	
}
#e1,#e2,#e3,#e4,#e5,#e6
{
visibility:hidden;
color:#FF0000;
margin-left:50px;
}

#errmsg
{
 width: auto;
font-size: 20px;
color:yellow;
}
#slideshow{
   
    height: 400px;
    width: 425px;
    float: left;
    margin-left:25px;
    margin-top: 20px;
    position: relative; 
   box-shadow: 0 0 20px rgba(0,0,0,0.4); 
   border-radius:4px;
 }
.logImg{
    height: 380px;
   width: 400px;
 border:  1px solid #ccc;  
 background-color: #eee;  
 }

#head{
    font-size: 24px;
    margin-left: 150px;
   font-weight: bold;
    color: #0079c0;
}
#text,#t1{
    position:absolute;
    top:300px;
    left:10px;
    font-size: 50px;
    color:#c43531;
}
#background{
    height: 83%;
    background-image:url(../data/rcs/div_back.jpg);
  }
#t{
    position:absolute;
    top: 1px;
    left:290px;
    font-size: 50px;
    color:#c43531;
}

#t1 {
    color:#498af2;
}
#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}