body {
  
}
.proSubmit,.alignright  {
    text-align: right;
    margin-right: 20px;
}
td {
    text-align: right;
}
textarea {
    resize: none;
}
.highlight {
   background-color: silver;
}
input[type="text"] {
    width: 300px;
}