.profileForm pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.fright {
    font-size: 20px;
    height: 20px;
}
.proSubmit,.fright  {
    text-align: right;
    margin-right: 20px;
}
.profileForm td {
    text-align: right;
}
.profileForm textarea {
    resize: none;
}
.highlight {
    background-color: silver;
}
.profileForm input[type="text"]{
    width: 300px;
}
.displayDetails {
    margin: 0px;
    padding-top:5px;
    padding-left: 5px;
    background-color: white;
    
}
.wide {
    max-height: 50%;
    overflow: scroll;
}
.deleteQual,.deleteCert ,.deleteExp{
    float: right;
}
.deleteQual img,.deleteCert img ,.deleteExp img{
    width: 1.2em;
    height: 1.2em;
}
.align {
    width:100%;
    text-align: right;
}

.fancybox,.fancybox1{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:300%;
	background-color:gray;
    opacity: 0.9;
    -moz-opacity: 0.9;
   filter: alpha(opacity=9);
	z-index:0;
	text-align:center;
	
}
.box{
    opacity: 1;
    margin:20% auto;	
	display: inline-block;
	padding:20px;
	color: #370038;
	background-color:white;
    
}
.sbtn{
	border:1px solid #7D1B7E;
	font-size:0.9em;
	padding:4px;
	font-family:verdana;	
	margin:5px;
}
.sbtn{
		color:gray;
		cursor:pointer;	
}
.error {
    float: left;
    text-align: left;
}
.error , .asterisk {
    margin-top: 5px;
    color: red;
}
.asterisk , #dateError,#classError,#typeError{
    visibility: hidden;
}
.errorDiv {
    float: left;
}
#settingsDiv,#securityQuestionDiv,#deactivateAccount,#displaySecurityQuestionAnswers {
    padding:10px;
    margin-top:20px;
    margin-left: 20px;
    font-family: sans-serif;
}
#settingsDiv input ,#securityQuestionDiv input{
	margin:5px;
}
#userSettingsResponse,#securityQuestionResponse {
	color: red;
}
.padding3 {
	padding: 3px;
}
.margin5{
	color:white;
	margin-top:5px;
}
#f1_upload_process {
	visibility: hidden;
}

