
body{
	max-height:auto;
	max-width:1285;
	background-color:#eef;
	font-family:Verdana, Geneva, sans-serif;	
	
}
#container{
	width:1024px;
	margin:0px auto;

	height: auto;
}
#mid{
	
	margin-top:5px;
	min-height:600px;
	
}
#head1{
	
	height:50px;
	width:100%;

	position: fixed;
	top: 0;
	background-image:url(../data/rcs/g.svg);
	background-size: 100%;
	left: 0;
	

}

#head2{
		background-color: #dfdfdf;
	height:250px;	
	overflow:hidden;
	margin-top:55px;

}
#mid1{
		
	width:252px;
	min-height:600px;
	float :left;	
	margin-right:5px;
}
#photo
{
	width:241px;
	min-height:150px;
	float :left;	
	margin:5px;

}
#mid2{
		background-color: #dfdfdf;
	width:462px;
	min-height:600px;
	float :left;	
	margin-right:5px;
	
}

#mid3{
		
	min-height:300px;
	width:300px;
	float :left;
	
	border-bottom: none;
}
#mid35{
		
	min-height:300px;
	width:300px;
	float :left;
	
	border-top: none;
}
#footer{
	float: left;
	margin-top:7px;
	height :50px;
	width:1020px;
	
}
#buzz{
	background-color: #579BBA;
}

a
{
	background:grey;
	
}
h1
{
	display:inline;
}
.bg
{
	
	
	
}
