@font-face {
	font-family: alba;
	src: url("http://localhost/probuzz/trunk/data/font/alba.TTF");
}
@font-face {
	font-family: a1;
	src: url("../data/font/Fontin-SmallCaps.ttf");
}
@font-face {
	font-family: a21;
	src: url("../data/font/Ubuntu-Regular.ttf");
}

@font-face {
	font-family: a211;
	src: url("../data/font/Prociono-Regular.otf");
}
@font-face {
	font-family: del;
	src: url("http://localhost/probuzz/trunk/data/font/Delicious-Italic.otf");
}
body {
	max-height: auto;
	max-width: 1285;
	background-color: #F9F9F9;
/* 	background-image:url("../data/rcs/bg.jpg"); */
	font-family: del,verdana;
	font-size: 0.8em;
}

#container {
	width: 1024px;
	margin: 0px auto;
	height: auto;
	min-height: 1000px;
}
.logo {
	font-size: 28px;
	padding:2px;
	font-family:"alba";
	color:#fff;
}
#navigation {
	margin-top: 30px;
	position: inherit;
	min-height: 980px;
	padding-top: 10px;
	width: 130px;
	height: auto;
	color:blue;
	float: left;
	border-right:1px solid lightgray;
	/*background-image: url("..data/rcs/div_back.jpg");*/
	margin-right: 7px;
	background-color:#f1f1f1; /*darkgrey;*/
	overflow: visible;
}
/*
ul.n {
	width: auto;
    list-style: none;
    margin: 0;
    padding: 0;
	text-align: left;
}

ul.n li {
    display: inline-block;
    margin: 0px;
	padding: 0;
}

ul.n a {
	display: block;
	width: 1500px;
	height: 33px;
	padding: 12px 0 0 80px;
	margin-bottom: 5px;
	color: #8a8980;
	font-size: 16px;
	font-weight: normal;
    text-decoration: none;
	position: relative;
}
ul.n a:hover, ul.n a.selected {
	color: #201f1b;
	background:url(../data/rcs/templatemo_menu_hover.png) no-repeat left;
	
}
*/
#head1 {
/* 	 display:none;  */
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #2d9be8;
/*	background-image: url(../data/rcs/g.svg);*/
	background-size: 100%;
	left: 0;
	
	z-index: 1000;
}

#head1 nav {
	display: inline;
}

#head2 {
	background-color: #FFFFFe;
	height: 255px;
	width: 865px;
	float: left;
	overflow: visible;
	margin-top: 55px;
	margin-left: -4px;
	bottom: 0;
	}

#midpanel {
	margin-top: 8px;
/*	  background-color: #dfdfdf; */
	background-color: #FFFFFe;
	width: 582px;
	
	min-height: 727px;
	float: left;
	margin-left: -5px;
	margin-right: 5px;
	word-wrap: break-word; 

	
}

#buzzpanel {
	margin-top: 8px;
/*	  background-color: #dfdfdf; */
	background-color: #FFFFFe;
	height:auto;
	width: 582px;
	float: left;
	margin-right: 5px;
	overflow:visible;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	
}

#mid {
	padding: 5px;
/*	background-color: #efefef; */
	background-color: #FFFFFe;
	margin-top: 8px;
	float: left;
	min-width: 857px;
	min-height: 727px;
	height: auto;
	-webkit-border-radius: 20px;
	border-radius: 20px;
		overflow:hidden;	
	
}

#bigmid {
	position:relative;
	padding: 5px;
	background-color: #FFFFFe;
	margin-top: 50px;
	margin-left:-5px;
	float: left;
	min-width: 857px;
	max-width: 857px;
	 width: 857px;
	
	min-height: 980px;
	height: auto;
	
 word-wrap: break-word; 
		
}
#buzztable {
		width: 857px;
	max-width: 857px;
}
#buzztablem {
		width: 582px;
	max-width: 582px;
}
#buzztable #btdetails {
	width:480px;
	max-width:480px;
}
#buzztable #btdetails {
	width:400px;
	max-width:400px;
}
#buzztable #btname,#btemail {
	width:75px;
	max-width:75px;
}
.buzztablem .btmdesignation {
	width:125px;
	max-width:125px;
		
 word-wrap: break-word; 
}
#rightpanel {
	margin-top: 8px;
	background-color: #dfdfdf;
	min-height: 726px;
	width: 280px;
	float: left;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border-bottom: none;
		overflow:hidden;	
	
}

#rightpanel1 {
	margin-top: 8px;
	background-color: #dfdfdf;
	min-height: 362px;
	width: 280px;
	float: left;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border-bottom: none;
	overflow:hidden;	
	
}

#rightpanel2 {
	margin-top: 8px;
	background-color: #dfdfdf;
	min-height: 362px;
	width: 280px;
	float: left;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border-bottom: none;
	overflow:hidden;	

}

#footer {
	
	text-align: center;
	background-size: 100%;
	padding: 15px;
	float: left;
	bottom: 0;
	margin-top: 1px;
	height: 25px;
	width: 994px;
	background-color: #2d9be8;
	color: white;
	/*background-image: url(../data/rcs/g.svg);*/
}

h1 {
	display: inline;
}

#photo {
	float: left;
	text-align: center;
}

.photo {
	vertical-align: middle;
	text-align: center;
	background-color: lightgrey;
	padding: 5px;
	border: 0px solid black;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

.alignwelcome {
	vertical-align: middle;
	font-weight: bold;
	display: inline-block;
	text-align: center;
}
#updateJobDiv
{
	
	width:450px;
	max-width: 450px;
	margin: 0px auto;
}
#createjobform {
	
}

#createjobform 	[type="text"],#createjobform select {
	width: 400px;
	min-width: 400px;
	height: 20px;
	margin: 3px;
	font-family: a211;
}

#createjobform #jbsub {
	width: 450px;
	height: 40px;
}

#createjobform #jblbl {
	font-size: 1em;
	display: inline-block;
	width: 250px;
	min-width: 200px;
}
#createjobform textarea {
	width:400px;
	height:100px
}

#smsg {
	text-align: center;
	color: blue;
	font-variant: small-caps;
	font-weight: bolder;
	background-color: lightblue;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	height: 50px;
	opacity: 50%;
	padding-top: 24px;
	margin-top: 200px;
	margin-left: 200px;
	z-index:100000;
	display: block;
	position: absolute;
}
.ralign {
	text-align: right;
}
.formhead1{
	font-size: 1em;
	
}
#pagehead1{
	font-family: alba;
	font-size: 2em;
	margin: 0px auto;
}
#dvErrorPage {
	background-image: url('../data/rcs/404.jpg');
	height:600px;
	width: 1000px;
	background-repeat: no-repeat;
	background-size: 100%;
	margin:0px auto;
	text-align: center;
	font-size: 2em;
}
#dvSjob {
	font-family: del;
	text-align: center;
}
#dvSjob label
{
	font-weight: bold;
	letter-spacing:.4em;
	
}
#dvSjob span {
	text-align: justify;
}
.odd { 
	background-color:#C8E2F7;
}
.even {
	background-color:#C8E2F7;
}
#showslot {
	
	margin:0px auto;
	background-color:#e2e3ff ;
	border-radius: 20px;
	-webkit-border-radius: 4px;
	border-collapse:collapse;
	border:1px ;
	
}
#showslot td {
	
	border: white 2px solid;
}
#showslot tr
{
	padding:2px;
	border-collapse:collapse;
}
/*
#showslot .even:HOVER,.odd:HOVER {
	background-color:#2d9be8;
}*/
.height40 {
	height:40px;
}

.height20 {
	border:none;
	height:20px;
}
#usermenu ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
#usermenu a {
	text-decoration: none;
	color: #4a8df8;
	font-family: alba;
}
#umenu:HOVER {
	background-image: url("../data/rcs/g.svg");
	background-repeat: no-repeat;
	background-size: 100%;
		width:auto;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	height:auto;
	padding-left:20px;
	
}
#searchbar {
	height:35px;
	width:350px;
	font-family: alba;
	text-align: center;
	/*background-image: url("../data/rcs/g.svg");*/
	background-size: 100%;
	color: black;
	float: right;
	margin-right: 2px;
	margin-top: 0.5px;
}
#dvsearch {
	margin-top: 50px;
	height:450px;
	width:1020px;
	border: 2px black solid;
	overflow-y: scroll;
	overflow-x: hidden;
	position: fixed;
	display:none;
	z-index:4000;
	background-color: white;	

}
#dvsearchoption{
	height: 30px;width:1000px;
}
#dvsearchresult {
	margin:0px auto;
	width:1000px;
	height:auto;
	
}
#dvresbig {
width:1000px;
min-height:80px;
height:auto;
float: left;
margin-right: 5px;
	}
#dvres {
	border:1px ;
	background-color:white;
	padding:5px;
	width:195px;
	height:auto;
	float: left;
	position:relative;
	margin-left: 25px;
	margin-top: 10px;
	word-wrap: break-word; 
	box-shadow: 2px 2px 2px 2px #e2e2e4;


}
#showfrnddiv{
	background-color:#4a8df8;
	color: white;
	width:  848px;
	float: left;
	margin-left: 5px;
	padding-left: 10px;
	border-radius: 4px;
}

#dvresbig a {
	text-decoration: none;
	color: black;
}
.fontsize14{
	font-size: 14px;
}
.fontsize20{
	font-size: 20px;
	font-weight: bold;
}

.fontsize16{
	font-size: 18px;
	font-weight: bold;
}
.imgcenter{
	vertical-align: top;
}
.imgcenterm{
	vertical-align: middle;
}
.floatl {
	float: left;
}
.floatr {
	float: right;
}
#topjobhead {
	font-size: 1.4em;
	text-align: center;
	font-weight: bold;
}
#topjobcontent {
	overflow-y: scroll;
	overflow-x:hidden;
	height: 400px;
	margin-left: 2px;	
	font-size: 0.8em;
}
#topjobcontent a {
	text-decoration: none;
	color: black;
}
#topjobn{
	width:250px;
	min-height:60px;
	height:auto;
	margin-bottom:4px;
	/* background-color: #579BBA; */
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
#topjobn img {
	float:left;
	margin-top:5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 2px;
	
}
#topjobn aside {
	line-height: 1em;
	text-transform: uppercase;
}
.marginl2 {
	margin-left: 2px;
}
.marginl20 {
	margin-left: 20px;
}
.marginl10 {
	margin-left: 10px;
}
.marginr10 {
	margin-right: 10px;
}
.cursor1 {
	cursor: pointer;
}
.calign {
	text-align: center;
}
.hbold {
	font-weight: bold;
}
.round20 {
	border-radius: 20px;
	-webkit-border-radius: 20px;
}
.round5{
border-radius: 5px;
-webkit-border-radius: 5px;
}

hr {
    border: 0; height: 1px; 
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));       
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    width:auto; 
}
#searchoptbar select {
	width:150px;
}
.vcenter {
	vertical-align: middle;
}
#lxgender,#lxdegree,#lxcity {
	font-size:1.6em;
	font-weight:bold;
}
.style6{border-bottom:4px solid orange;border-bottom-left-radius:10px;border-left:4px solid orange;border-right:0 none #FFF;border-top:4px solid orange;border-top-left-radius:10px;float:left;font-size:15pt;height:32px;margin-top:.2cm;padding:2px;width:300px}
.evenb {
	background-color: lightgreen;
}
.evenb:HOVER,.oddb:HOVER {
	background-color: #579BBA;
}
.oddb {
	background-color: white;
}
/*Meesaging*/
#messagepanel {
	
	padding :10px;
	width:835px;
	margin:0px auto;
	background-color:#f1f1f1;
	overflow-x: scroll;
	overflow-y: hidden;
	border-radius: 3px;
}
#msgcontent {
	margin-bottom: 10px;
	height: 40px;
	border:1px ;
	box-shadow: 2px 2px 2px 1px #e2e2e4;
	
}
.msgcontent-left {
	margin-left:120px;
	width:250px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	padding:10px;
}
.msgcontent-right {
	width:245px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	padding:8px;	
}
#dvmessaging {
	
}
#message1 {
	min-height:45px;
	height:auto;
	margin-top:5px;
	font-family: del;
	font-size: 0.8em;
	width: 350px;
	margin: 0px auto;
}

#sjbtn{
	vertical-align:top;
	height:150px;
	width: 400px;
	border: 1;
	border-radius:10px; 
	margin-top: 5px;
	margin-left: 15px;
	
}
#sjresulthead {
	font-family: del;
	font-size:1em;
	font-weight: bold;
}
#sjresultcol {
	font-family: del;
	font-size:1.2em;
	height:  20px;
}
#updateJobDiv input,#updateJobDiv textarea {
	font-family: del;
	font-size: 1em;	
}
/*searchjob*/
#dvformsearchjob input[type=text] {
	width: 150px;
}
#dvformsearchjob span{
	margin-left: 35px;
	padding-left: 26px;
}
#dvformsearchjob span input[type=text]{
	margin-left: 16px;
	float: left;
}
.marginl10{
	margin-left: 10px;
}
#e{	
	float: right;
	margin-right: 85px;
	}
#sjsubmit,#alotslot{
float: right;
cursor:pointer;
border-radius:4px;
border:none;
height: 30px;
font-size: 16px;
background-color:#498af2;
color:white;
font-family:del;
font-weight: bold;
font-size: 16;
width: 70px;
}
.bluebutton {
cursor:pointer;
border-radius:4px;
border:none;
min-height:30px;
font-size:1.2em;
height:auto;
width: 100%;
background-color:#498af2;
color:white;
font-family:del;
font-weight: bold;
font-size:16;
word-wrap: break-word; 

}

#errorDiv {
border-radius:4px;
border:none;
font-size:1em;
height:auto;
width: 100%;
background-color:green;
color:white;
font-weight: bold;
font-size: 16;
font-family: del;
word-wrap: break-word;
text-align: center;
}

.dverror{
	height: auto;
	width: 75px;
	
	
}
#msgbox{
	height: 250px;
	width: 700px;
	border:1px ;
	margin-left: 50px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px 2px #e2e2e4;
	}
 #sendmessage #message_text{
	border:0.5px;
	box-shadow: 1px 1px 1px 1px gray;
	height:100px;
	border-radius:2px; 
 	width: 400px;
 }
	#message_text{
	border:0.5px;
	box-shadow: 1px 1px 1px 1px gray;
	height:100px;
	border-radius:2px; 
	}
#submitmessage,#aboutbutton{
float: right;
margin-right: 15px;
cursor:pointer;
border-radius:4px;
border:none;
background-color:#498af2;
color:white;
font-weight: bold;
font-size: 16;
font-family: cursive;
height: 30px;
}
#aboutdiv{
	
	
}
#aboutustext{
border:0.5px;
box-shadow: 1px 1px 1px 1px gray;
font-family:del;
font-size: 1.3em; 
}
#showba11 {
	display: none;
}